API_ID=10284859
API_HASH=b0ad58eb8b845ba0003e0d9ce5fc2196
BOT_TOKEN=2096983652:AAGCPF06HIYxh1kgF6DJRziD6krrRlmNn0s
LOGGER_ID=-1001735663878
LOG_GROUP_ID=-1001735663878
MONGO_DB_URI=mongodb+srv://heartbeat:Beat7Heart@heartbeat.1h1nbxv.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=1281282633
STRING_SESSION=BQDMBnkANkdd2OSiqGwlNUIllqlR1uOT5-eq358s9Li-x0jn6gykpHz0bip0fnbPdfE1tQF95bPETepPC8dpVmVg_KL0NT5UsZH4djWJNmyeyUHeiAPulqIBiljZHIMHB8JV2r1GZr_ojoJZFgZhTrRgUCQwDlYNlskQKDnwtAQm2rbdmr6ZqVx0Tph5Iord2wX25eqXEytuAOKVehKSv746DMGAGEKs7g03f8kobBWsRl-a34hcOhi_t2aj0VU4VNFEokqfvc73l412x2r0zRksYyiLdbxwEtb35rohPEIkV61i94JrXjxzFObvyr5MyAhdUaM-Ax1HRCp0eVhNOMvMxTvKBgAAAAB8_W5kAQ")
AUTO_GCAST_MSG=
AUTO_GCAST= True
OWNER_USERNAME=rajeshrakis
BOT_USERNAME=thedakkidaikathaval_bot
BOT_NAME=𝞖𝘌𝘈𝘙𝘛𝞑𝘌𝘈𝘛𝂬♡𝂬𝘿𝘙𝘜𝘎𝘡
SSUSERNAME=Ghostt_Batt
EVALOP=1281282633
